ul {
  list-style: none;
  padding: 35px 0 0 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.hero {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.advantage {
  background: url("../images/advantage-section.png") center/100% 100% no-repeat;
}

img {
  border-style: none;
}

/*-----HEADER----*/

.header__container {
    max-width: 1162px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
    position: relative;
    z-index: 3;
  }

.header {
    padding-top: 23px;
    position: relative;
    z-index: 3;
  }
  

.header__container {
  max-width: 1162px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.nav__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

.header__items .header__logo {
    background: url("../images/cloud1.webp") 0 0/100% 100% no-repeat; 
  }

  .header__items .header__logo img {
    max-width: 283px;
    max-height: 89px;
    padding: 12px 20px 12px 26px;
  }

  .header__items .header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header__nav {
    background: url("../images/cloud2.png") 0 0/100% 100% no-repeat; 
  }

  .header__nav {
    width: 446px;
    padding-left: 77px;
    padding-right: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav__item {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #715D00;
  }



/*----------HERO----------*/

.hero .hero__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #f9e994;
  max-width: 578px;
  margin: 40px auto;
  
  
}

.hero {
  margin-top: -156px;
  padding-top: 156px;
  height: 844px;
  position: relative;
}

.hero {
  background: url(../images/main.jpg) top center/cover no-repeat;
  max-width: 1920px;
  
  margin-left: auto;
  margin-right: auto;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.hero__items {
  max-width: 1142px;
  height: 462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.hero__item-text {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #F6F7E4;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 439px;
    height: 102px;
    margin-bottom: 60px;
  }

  .hero__list {
    max-width: 323px;
  padding: 35px 20px 38px 0px;
  background: #7FB3E1;
  border-radius: 20px;
  position: relative;
  }

  /*-----*/

  

 
  
  .hero__list {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #F6F7E4;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    /* max-width: 439px; */
    margin-bottom: 0px;
  }
  
  
  
  /* .hero__list img {
    position: absolute;
    top: -55px !important;
    left: 10px !important;
    top: 130px;
    left: 10px;
    width: 150px;
    height: 90px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  } */
  
  .hero__item li {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #DFE4DE;
    padding-left: 70px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .hero__item li:nth-child(2) {
    margin-bottom: 17px;
  }
  
  .hero__item li:nth-child(3) {
    margin-bottom: 20px;
  }
  
  .hero__item li::before {
    content: "";
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 35px;
    width: 18px;
    height: 24px;
    background: url("../images/lapaka1.svg") 0 0/100% 100% no-repeat;
    z-index: 5;
  }

  .hero__item:nth-child(2) {
    position: absolute;
    top: 54px;
    left: 50%;
    -webkit-transform: translateX(-47%);
        -ms-transform: translateX(-47%);
            transform: translateX(-47%);
  }

  /*-----------*/
  .hero__item img {
    max-width: 710px;
    max-height: 417px;
  }

/*---Form---*/



.hero__item .form {
  max-width: 270px;
  max-height: 462px;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  overflow: hidden;
}



.hero__item .form__title {
    background-color: #7FB3E1;
    margin-top: -1px;
  padding-top: 23px;
  font-weight: bold;
  font-size: 33px;
  line-height: 39px;
  color: #483c08;
  text-align: center;
  margin: 0;
}

.hero__item .form__time {   
  padding-top: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #f6e791;
}

.hero__item .form__price {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}



.hero__item .form__price:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #6B6B6B;
    position: relative;
    padding-left: 12px;
  }
  
  .hero__item .form__price:first-child::before {
    content: "";
    position: absolute;
    top: 17px;
    right: -6%;
    background: #F6BE91;
    height: 2px;
    width: 110px;
    -webkit-transform: rotate(162.55deg);
        -ms-transform: rotate(162.55deg);
            transform: rotate(162.55deg);
  }
  
  .hero__item .form__price:last-child {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #483C08;
    padding-right: 24px;
    padding-left: 19px;
  }

  .rectangle {
    width: 103%;
    height: 192px;
    margin: 0 0 0 -4px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Rectangle\ 12.png);
    border-radius: 17px;
    margin-bottom: 21px;
    
}
 

  
  .hero__item .form__input {
    width: 222px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 0;
  }
  
  .hero__item .form__input::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/lapaka2.svg") 0 0/100% 100% no-repeat;
    z-index: 5;
  }
  
  .hero__item .form__input input {
    width: 100%;
    display: block;
    background: #F3EFEF;
    border-radius: 30px;
    border: none;
    padding: 16px 16px 16px 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    outline: none;
  }
  
  .hero__item .form__input input::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
  }
  
  .hero__item .form__input input::-moz-placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
  }
  
  .hero__item .form__input input:-ms-input-placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
  }
  
  .hero__item .form__input input::-ms-input-placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
  }
  
  .hero__item .form__input input::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
  }
  
  .hero__item .form__btn {
    display: block;
    cursor: pointer;
    padding: 7px 63px;
    border-radius: 30px;
    border: none;
    background: #A1D337;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0 auto 30px;
  }
  
  .hero__item .form__date {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
  }
  
  .hero__item:nth-child(2) {
    position: absolute;
    top: 54px;
    left: 50%;
    -webkit-transform: translateX(-47%);
        -ms-transform: translateX(-47%);
            transform: translateX(-47%);
  }
  
  .time-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F6E791;
  }
  
  .countdown {
    background: black;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F6E791;
  }

/*-----------ADVANTAGE---------------*/

.advantage__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-bottom: 53px;
  }
  
  .advantage__item {
    max-width: 305px;
    padding: 14px 15px;
    background: #F6E791;
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .advantage__item-img {
    display: block;
    height: 186px;
    width: 186px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .advantage__item-content {
      height: 218px;
    background: rgba(161, 211, 55, 0.4);
    border-radius: 20px;
    padding: 21px 16px 16px 16px;
  }
  
  .advantage__item-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 0 0 19px 0;
  }
  
  .advantage__item-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #483C08;
  }

.advantage {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.advantage__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f9e994),
    color-stop(56.25%, #537d13),
    to(#483c08)
  );
  background: -o-linear-gradient(top, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 61px 0;
}

.advantage {
    padding-top: 48px;
    padding-bottom: 55px;
    
  }

  .advantage__content {
    max-width: 1088px;
    margin: 0 auto;
  }





/*-----FOOTER-----*/





.footer {
  max-width: 1920px;
  height: 174px;
  width: 100%;
  margin-top: -174px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background: url("../images/footer.png") 0 0 / cover no-repeat;
}


/*-------*/
.result {
    padding-bottom: 197px;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1EDF8), color-stop(59.37%, rgba(127, 179, 225, 0)), to(rgba(0, 0, 0, 0.25)));
    background: -o-linear-gradient(top, #E1EDF8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);
    background: linear-gradient(180deg, #E1EDF8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .result__items {
      max-width: 1088px;
      margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .result__item:first-child {
    max-width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .result__item-left {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #483C08;
    border-top: 20px solid #D4DF6D;
    border-bottom: 20px solid #D4DF6D;
    border-left: 20px solid #D4DF6D;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 662px;
    padding: 20px 0 20px 20px;
    position: relative;
  }
  
  .result__item-left p {
    max-width: 622px;
    margin-top: 0;
    margin-bottom: 33.5px;
  }
  
  .result__item-left p:nth-child(3) {
    margin-bottom: 0;
  }
  
  .result__item-right {
    width: 98px;
    height: 100%;
    position: relative;
  }
  
  .result__item-right::before {
    content: "";
    height: 20px;
    width: 216px;
    background: #D4DF6D;
    position: absolute;
    top: 88px;
    left: -66px;
    -webkit-transform: rotate(64deg);
        -ms-transform: rotate(64deg);
            transform: rotate(64deg);
    border-radius: 50px;
  }
  
  .result__item-right::after {
    content: "";
    height: 20px;
    width: 216px;
    background: #D4DF6D;
    position: absolute;
    bottom: 88px;
    left: -66px;
    -webkit-transform: rotate(-64deg);
        -ms-transform: rotate(-64deg);
            transform: rotate(-64deg);
    border-radius: 50px;
  }
  
  .result__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .result__item:last-child img {
    max-width: 300px;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .result__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: #537d13;
    margin: 0 0 61px 0;
    padding-top: 99px;
  }


  /*-----MEDIA-----*/

  /* @media (max-width: 1300px) {
    .header__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 16px 0 30px;
    } */

    /*===============================*/
@media (max-width: 1300px) {
    .advantage {
      background: url("../images/advantage-section.png") center/cover no-repeat; }
    .advantage {
      margin: 0;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  
  /*===============================*/
  @media (max-width: 1180px) {
    .hero__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    }
  
    
  
    .hero__item:nth-child(2) {
      display: none !important;
    }
  
    .hero__item:nth-child(2) {
      position: static;
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .hero__item:nth-child(2) img {
      max-width: 400px;
    }
  }
  
  
  /*======================*/
  @media (max-width: 1060px) {
    .result__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .result__item:last-child {
      margin-bottom: 40px;
    }
  
    .result__item-right::after {
      bottom: -288px;
    }
  }
  
  /*===================*/
  @media (max-width: 1024px) {
    .advantage__content {
      padding: 0 10px;
    }
  
    .title {
      margin-bottom: 30px;
    }
  
  
  
    .advantage {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .advantage__items {
      max-width: 700px;
      margin: 0 auto;
    }
  
    .advantage__item:nth-child(2) {
      display: none;
    }
  }
  
  /*===========================*/
  @media (max-width: 800px) {
    .header__items {
      background: url("../images/cloud1.webp") 0 0/100% 100% no-repeat; 
     }
  
    .header__items .header__logo {
      background: transparent !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 45px;
    }
  
    .header__items .header__logo img {
      height: 80%;
    }
  
    .header__items .header__nav {
      background: transparent !important;
      padding-left: 0;
      width: 296px;
    }
  
    .result__item:first-child {
      border-right: 20px solid #D4DF6D;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .result__item-right {
      display: none;
    }
  }
  
  /*====================================================================================*/
  @media (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
  
    .header {
      padding-top: 5px;
    }
  
    .hero {
      height: 1300px;
    }
  
    .hero__title {
      font-size: 40px;
      line-height: 50px;
      margin-top: 40px;
    }
  
    .hero__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
      
      
    }
  
    .hero__list {
      max-width: 278px;     
      margin-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
    }
  
    .hero__item-text {
      margin-bottom: 90px;
      text-align: center;
    }
  
    .hero__item:nth-child(2) {
      max-width: 150px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  
    .hero__item:nth-child(2) img {
      width: 100%;
    }
  }
  
  /*===============*/
  @media (max-width: 680px) {
    .advantage__items {
      display: block;
    }
  
    .advantage__item {
      margin: 0 auto 30px;
    }
  
    .advantage__item:nth-child(2) {
      display: block;
    }
  }
  
  /*============*/
  @media (max-width: 600px) {
    .header__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 16px 0 30px;
    }
  
    .header__items .header__logo {
      padding: 0;
      margin-bottom: 10px;
    }
  
    .header__items .header__logo img {
      height: 100%;
    }
  
    .header__items .nav__item {
      padding-right: 0;
    }
  
    .hero {
      margin-top: -191px;
    }
  
    .advantage {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .title {
      font-size: 40px;
      line-height: 50px;
    }
    .hero {
      height: 1600px;
    }
  }
  
  /*==========*/
  @media (max-width: 500px) {
    .hero {
      height: 1600px;
    }
  
    .hero__title {
      font-size: 30px;
      line-height: 36px;
      margin-top: 40px;
    }
  
    .hero__item-text {
      font-size: 20px;
      line-height: 26px;
    }
  }
  
  /*==========*/
  @media (max-width: 425px) {
    .title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  
    .header__items .header__logo {
      height: 60%;
    }
  
    .header__items .nav__item {
      padding: 0 auto;
      margin-left: 40px;
      
    }
  
    .header__items .nav__item {
      font-size: 16px;
      line-height: 20px;
    }
  
    .hero__title {
      font-size: 24px;
      line-height: 30px;
    }
  
    .advantage__item-title {
      font-size: 20px;
    }
  
    .result__item:first-child {
      border-right: 5px solid #D4DF6D;
    }
  
    .result__item-left {
      border-left: 5px solid #D4DF6D;
      border-top: 5px solid #D4DF6D;
      border-bottom: 5px solid #D4DF6D;
    }
  }

  /*--------------*/

.header__items .header__logo { background: url(../images/cloud1.png) 0 0/100% 100% no-repeat; }

.webp .header__nav { background: url(../images/cloud2.webp) 0 0/100% 100% no-repeat; }

.hero { background: url(../images/main.webp) top center/cover no-repeat; }

.webp .advantage { background: url(../images/advantage-section.webp) center/100% 100% no-repeat; }

.webp .footer { background: url(../images/footer.webp) 0 0/cover no-repeat; }

@media (max-width: 1300px) {

  .webp .advantage { background: url(../images/advantage-section.webp) center/cover no-repeat; }
}


@media (max-width: 800px) {

  .webp .header__items { background: url(../images/cloud1.webp) 0 0/100% 100% no-repeat; }
}